[user]
	name = CJ Davis
	email = code@cjdavis.me
[branch]
	autosetuprebase = always
[rebase]
	autostash = true
[push]
	default = current
[core]
	excludesFile = /Users/crevax/.gitignore_global
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/
[alias]
	a = add
	c = commit
	co = checkout
	d = pull
	f = fetch
	s = status
	u = push
	fp = push --force-with-lease
        # From: https://stackoverflow.com/a/7532131/1324851
        apply-gitignore = !git ls-files -ci --exclude-standard -z | xargs -0 git rm --cached
